/* 
  "Normalize / Reset"
 */
* { box-sizing: border-box; }
body { margin: 0; padding: 0; }

main { min-height: 100vh; padding-bottom: 360px; }

header, section, footer {
  margin: 0 auto;
  width: 90%;
  max-width: 768px;
  padding-top: 16px;
  padding-bottom: 16px;
}
article, footer { padding-bottom: 16px; padding-left: 16px; padding-right: 16px; }

footer { margin-top: -300px; }

@media (min-width: 1024px) {
  header, section { width: 74%; max-width: none; }
}

ul { margin: 0; padding: 0; }
li { list-style: none; }

/* 
  Real CSS
 */

/* Global */
body {
  color: hsla(240, 80%, 8%, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#loginFormUI { display: none; }

.input, .button {
  color: hsla(240, 80%, 16%, 1);
  border-radius: 8px;
  padding: 14px 16px;
  transform: translateY(0px);
  transition: .1s linear transform;
  font-weight: bold;
}

.input {
  border: 1.5px solid hsla(240, 80%, 16%, 1);
  box-shadow: 0px 2px 8px hsla(240, 80%, 16%, 0.4);
  min-width: 296px;
}
.input:hover, .input:focus {
  box-shadow: 0px 4px 8px hsla(240, 80%, 8%, 0.4);
  transform: translateY(-2px);
}

.button {
  background: hsla(240, 80%, 72%, 1);
  cursor: pointer;
  box-shadow: 0px 2px 8px hsla(240, 80%, 56%, 0.4);
  border: none;
  min-width: 160px;
}
.button:hover, .button:focus {
  box-shadow: 0px 4px 8px hsla(240, 80%, 56%, 0.4);
  transform: translateY(-2px);
}
.button:active { box-shadow: none; }

/* Menu */
.navbar {
  background-color: hsla(240, 80%, 56%, 1);
  color: hsla(240, 32%, 96%, 1);
  box-shadow: 0px 2px 8px hsla(240, 80%, 56%, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  padding: 12px 16px;
  min-height: 64px;
  z-index: 1;
}

@media (orientation: portrait), (min-width: 618px) {
  .navbar--sticky { position: sticky; }
}

@media (min-width: 618px) {
  .navbar { padding: 16px; }
  
  .navbar-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.navbar-item { line-height: 32px; }

.navbar-link {
  color: inherit;
  font-weight: bold;
  position: relative;
  margin-left: 16px;
  text-decoration: none;
}
.navbar-link:hover { text-decoration: underline; }
.navbar-link::before {
  content: var(--navbarLinkIcon); /* imagenes en /css/../images/... */
  filter: grayscale(100);
  position: absolute;
  top: -4px;
  left: -32px;
}

/* Hero */
.hero-description { line-height: 22px; }
.hero-description a { color: #7e7ef1; font-weight: bold; }

/* Private */
.form-container {
  margin: 32px 0;
}

.loginForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loginForm > * { margin: 4px 16px; }

.form-radioContainer { margin: 16px; }
.form-radioContainer label { padding: 20px 20px 20px 0; }

/* Public */

/* Footer */
.footer {
  background-color: hsla(240, 64%, 24%, 1);
  color: hsla(240, 32%, 96%, 1);
  line-height: 22px;
  width: 100%;
  max-width: 100%;
}

.footer-content {
  width: 96%;
  max-width: 768px;
  margin: 32px auto;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-item { margin: 16px; }

.footer-link {
  border-bottom: 1px solid hsla(240, 32%, 96%, 0.32);
  padding-bottom: 4px;
  text-decoration: none;
  color: inherit;
  transition: .1s ease-in padding-bottom, border-bottom-color;
}
.footer-link:hover { padding-bottom: 2px; border-bottom-color: hsla(240, 32%, 96%, 0.8); }
